button {
  cursor: pointer;
}
.bg-circles {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.circle {
  position: absolute;
  border-radius: 50%;
  background: radial-gradient(circle, #8e44ad 0%, #6c3483 100%);
  opacity: 0.2;
}

.circle:nth-child(1) {
  width: 300px;
  height: 300px;
  top: -100px;
  right: -100px;
}
.circle:nth-child(2) {
  width: 200px;
  height: 200px;
  top: 100px;
  right: 150px;
}
.circle:nth-child(3) {
  width: 120px;
  height: 120px;
  top: 250px;
  right: 300px;
}
.circle:nth-child(4) {
  width: 80px;
  height: 80px;
  top: 400px;
  right: 450px;
}
